body{
  margin: 0;
  color: #2c2c2c;
 font-size: 14px;
 font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 display: block;
 width: 100%;
}
*, ::after, ::before {
    box-sizing: border-box;
}
@media only screen and (max-width: 900px){
  .sidebar{
    width: 80px!important;
    transition: all 300ms ease 0s;
  }
  .sidebar .nav li p{
    visibility: hidden;
  }
  .sidebar .nav li:hover{
    visibility: visible;
    width: 200%;
    color:#ffc107;
      transition: all 300ms ease 0s;
  }
  .sidebar .nav li:hover p{
    visibility: visible;
    color:#ffc107;
  }
  .container{
    left:100px!important;
    width: calc(100% - 110px)!important;
    transition: all 300ms ease 0s;
    right:1%;
  }
  .navbar{
    left:80px!important;
    transition: all 300ms ease 0s;
    width: calc(100% - 80px)!important;
  }
  .btn{
    margin-left:75%!important;
  }
  .titre{
    position: relative;
    padding: 0.9rem 0.5rem!important;
    z-index: 4;
    right: 9px!important;
    margin-top: 5%;
    display: inline-block;
    color: #FFF;
    text-transform: uppercase;
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-left: 0.1rem!important;
    padding-bottom: 0.5rem;
    line-height: 1.625rem;
  }
  .sidebar .titre::before{
    content:''!important;
    background-image: url('../img/tcmlog.png');
    background-size: 95px 95px;
    display: inline-block;
    width: 100px;
    height: 100px;
    transition: all 300ms ease 0s;
  }
  .sidebar .titre::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 30px!important;
    height: 1px;
    width: calc(100% - 50px)!important;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
/*------------------------SIDENAVBAR------------------------*/
.sidebar{
  display: block;
  box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.2), 0px 2px 30px 0 rgba(0, 0, 0, 0.35);
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  left: 0;
  z-index: 1030;
  background:#ffc107;
  transition: all 300ms ease 0s;
}
.titre{
  position: relative;
  padding: 0.5rem 0.7rem;
  z-index: 4;
  margin-top: 5%;
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;
}
.sidebar .titre::before{
  content: "T.C Montigny-en-Gohelle";
}
.sidebar .titre::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 15px;
  height: 1px;
  width: calc(100% - 30px);
  background-color: rgba(255, 255, 255, 0.5);
}
.navbar{
  vertical-align: middle;
  background: linear-gradient(to right, #0A203A, #2A5788);
  width:calc(100% - 260px);
  height:40%;
  left: 260px;
  position:fixed;
  top: 0;
  bottom: 0;
  transition: all 300ms ease 0s;
}
.navbar p {
  display: inline-block;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.8571em;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.625rem;}
.sidebar .nav {
  margin-top: 20px;
  display: block;
}
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

  }
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
a{
  background-color: transparent;
  transition: all 300ms ease 0s;
}
.sidebar .nav li:first-child > a {
  margin: 0 15px;
}
.sidebar .nav li.active > a{
  background-color: #FFFFFF;
  box-shadow: 0 1px 15px 1px rgba(39, 39, 39, 0.1);
}
li {
    text-align: -webkit-match-parent;

}
.sidebar .nav li > a{
    margin: 10px 15px 0;
    border-radius: 30px;
    color: #FFFFFF;
    display: block;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    font-size:0.8571em;
    padding: 10px 8px;
    line-height: 1.625rem;
}
.sidebar .nav li > a:hover{
  background-color: #FFFFFF;
  color: #ffc107;
  padding: 10px 8px;
  line-height: 1.625rem;
}
.sidebar .nav i {
    font-size: 20px;
    float: left;
    margin-right: 12px;
    line-height: 30px;
    width: 34px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
}
.icon{
  display: inline-block;
  font-size: inherit;
  speak: none;
  text-transform: none;
  }
  .sidebar .nav li:hover .icon{
    color: #ffc107;
  }
  .sidebar .nav li:hover .icon{
    color: #ffc107;
  }
.sidebar .nav p {
  margin: 0;
  line-height: 30px;
  position: relative;
  display: block;
  height: auto;
  white-space: nowrap;
}
.container{
  min-height: 80%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  position:fixed;
  width:calc(100% - 300px);
  right:1%;
  top: 100px;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  background-color: #FFF;
  transition: all 300ms ease 0s;
}
/*------------------------BOUTON------------------------*/
.btn{
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  margin-left:93%;
  border: none;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background:  #2A5788;
  color: #fff;
  cursor: pointer;
}
.btn:hover{
  background:  #ffc109;
  color: #fff;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);

}
.active{
  background-color: #FFFFFF;
  color: #ffc107 !important;
  padding: 10px 8px;
  line-height: 1.625rem;
}
.deconnexion{
  margin-bottom: 0px!important;}

.bt{
  display: inline-block;
font-weight: 400;
color: #212529;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: transparent;
border: 1px solid transparent;
padding: .375rem .75rem;
font-size: 1rem;
line-height: 1.5;
border-radius: .25rem;
}
.bt:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btnadd{
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  }

.btndelete{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    }

.btnmodifier{
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}

button, select {
      text-transform: none;
  }

/*-----------RESERVATION-----------*/
iframe{
  min-height: 80%;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  position:fixed;
  width:calc(100% - 300px);
  right:1%;
  top: 100px;
  box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  background-color: #FFF;
  transition: all 300ms ease 0s;
}

#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;
}

/*----------------------- SCROLLBAR ----------------------- */
.scrollbar
{
	float: left;
	height: 70%;
	overflow-y: scroll;
	bottom: 5%;
  width: 100%;
}

.force-overflow
{
	min-height: 10px;
  	bottom: 5%;
}



/*
 *  STYLE 2
 */

#style-2::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #FFC107;
}

#style-2::-webkit-scrollbar
{
	width: 5px;
	background-color: #2A5788;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #2A5788;
}


/*----------------------- TAB ----------------------- */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffc107;;
  color: #fff;
}
.center{
  margin-left:12.5%;
  margin-right:12.5%;
}
/* Style the buttons inside the tab */
.tab button {
  color: #fff;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #2A5788;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #2A5788;
  color: #fff!important;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

/*-----------------------------FORM---------------------------*/

input{
border-radius: 30px; }
input[type=text], input[type=password] {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

/*-----------------------------TABLE---------------------------*/

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

/*-----------------------------MODAL---------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 15%;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  margin-left: 10%;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
