{% extends 'base.html.twig' %}
{%block a5%}
  <li><a href="{{path('direct')}}" class="active"><i>o</i><p>direct</p></a></li>
{%endblock a5%}
{%block page%}Regarder en direct{%endblock page%}
{% block title %}Tennis Club Montigny-en-Gohelle{% endblock %}

{% block body %}
{% endblock %}
