{% extends 'base.html.twig' %}
{%block a2%}
  <li><a href={{path('position')}} class="active"><i>o</i><p>Où sommes-nous?</p></a></li>
{%endblock a2%}
{% block title %}Tennis Club Montigny-en-Gohelle{% endblock %}
{%block page%}où sommes-nous?{%endblock page%}
{% block body %}
{% endblock %}
