{% extends 'base.html.twig' %}
{%block a3%}
  <li><a href="{{ path('utilisateur') }}"><i class="icon">o</i><p>utilisateurs</p></a></li>
{%endblock a3%}
{%block page%}utilisateur{%endblock page%}
{% block title %}Tennis Club Montigny-en-Gohelle{% endblock %}

{% block body %}
<form action="{{ path('security_login') }}" method="post">

     <input type="text" placeholder="Nom" name="nom">

     <input type="text" placeholder="Prénom" name="prenom">

     <input type="text" placeholder="Adresse" name="adresse"

     <input type="text" placeholder="Zip" name="zip">

     <input type="text" placeholder="Tel" name="tel">

     <input type="text" placeholder="Mail" name="mail">

     <input type="text" placeholder="Login" name="login">

     <input type="password" placeholder="Mot de passe" name="mdp">
</form>

{% endblock %}
